{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href={% static "css/main.css" %} type="text/css" />
{% endblock %}

{% block content %}

<header>
  <nav class="#ff6d00 orange accent-4">
      <div class="nav-wrapper">
        <img src={% static "img/logo.png" %} class="responsive-img" alt="Gritty-logo"> </img>
        <a href="#" class="brand-logo"> Gritty </a>
        <!-- do not use list because they will produce other effects with in nav -->
        <div id="contents" class="right hide-on-med-and-down">
          <a class="waves-effect waves-light btn" href="/login"> Login </a>
          <a class="waves-effect waves-light btn" href="/register"> Register </a>
        </div>
        
        <!-- Collapsible menu -->
        <ul id="nav-mobile" class="side-nav #039be5 light-blue darken-1">
          <li><a href="/login"> Login </a></li>
          <li><a href="/register"> Register </a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="right button-collapse">
          <i class="mdi-navigation-menu"></i>
        </a>
      </div>
  </nav>
</header>

<main>
  <!-- Hero Image Parallax effect -->
  <div id="heroEffect" class="hero parallax-effect">
    <div class="container">
      <div class="hero-content animated bounceInDown slow">
        <h1>Hello, world!</h1>
        <p> Gritty is a nice little quizzing framework built using Python's Django Framework.</p>
        <p>Check out the <a href="http://github.com/udyam/gritty"> Github repo </a> and create something awesome!</p>
      </div>
    </div>
  </div>

</main>

{% endblock %}